.navbar-brand .logo {
  height: 50px; /* Adjust the height as needed */
  margin-right: 10px;
}

.navbar {
  background: linear-gradient(135deg, #630288, #630288);
  border-bottom: 2px solid #ffc107;
}

.navbar-brand {
  font-size: 1.6rem;
  color: #ffffff !important;
  position: absolute;
  left: 50%;
  margin-left: -80px;
  transform: translateX(-50%);
}

.navbar-nav .nav-link {
  color: #ffffff !important;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ffc107 !important;
}

.btn-outline-danger {
  color: #ffc107;
  border-color: #ffc107;
  transition: all 0.3s ease;
}

.btn-outline-danger:hover {
  color: #ffffff;
  background-color: #ffc107;
  border-color: #ffc107;
}
